.f_size_14em {
    font-size: 1.4em;
}

.f_size_16em {
    font-size: 1.6em;
}

.f_size_24em {
    font-size: 2.4em;
}

.f_size_16 {
    font-size: 16px;
}

.f_size_18 {
    font-size: 18px;
}

.l_height_30 {
    line-height: 30px;
}

.l_height_45 {
    line-height: 45px;
}

.f_600 {
    font-weight: 600;
}

.f_700 {
    font-weight: 700;
}

.f_800 {
    font-weight: 800;
}

.text_pink {
    color: #eb176b;
}

.text_white {
    color: #fff;
}


