@import './fonts.scss';

$pink-pallete: #eb176b;
$purple-pallete: #7226d1;
$cian-pallete: #31ffe2;
$background-dark-pallete: #222123;

:root {
    --margin-text-animation: -4.02rem;

    @media (max-width: 1628px) {
        --margin-text-animation: -3.62rem;
    }

    @media (max-width: 408px) {
        --margin-text-animation: -4.62rem;
    }
}

* {
    font-family: "Plus Jakarta Sans", sans-serif;
}



html,
body {
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;
    scroll-behavior: smooth;
}

.anchor {
    scroll-margin-top: 50px;
}

.overflow_hidden {
    overflow: hidden;
}

.grid_layout {
    max-width: 1400px;
    margin: 0 auto;
}

body::-webkit-scrollbar {
    width: 5px;
    background-color: $background-dark-pallete;
}

body::-webkit-scrollbar-track {
    background-color: $background-dark-pallete;
}

body::-webkit-scrollbar-thumb {
    background-color: #eb176b;
    border-radius: 3px;
}

.background_dark {
    background-color: $background-dark-pallete;
}

main {

    .height_header {
        height: 90vh;
        min-height: 700px;

        @media (max-width: 1130px) {
            height: auto;
            min-height: auto;
        }
    }

    .box_name {
        margin-top: -150px;
        position: relative;
        z-index: 2;

        @media (max-width: 1400px) {
            margin-top: 0px;
        }

        @media (max-width: 1130px) {
            margin-top: 0;
            padding-top: 160px;
            padding-bottom: 150px;
        }

        @media (max-width: 424px) {
            padding-top: 120px;
            padding-bottom: 100px;
        }

        @media (max-width: 384px) {
            padding-bottom: 70px;
        }
    }
}



.hello_text {
    font-size: 3.5em;
    font-weight: 600;

    @media (max-width: 1628px) {
        font-size: 3em;
    }

    @media (max-width: 536px) {
        font-size: 42px;
    }
}

.img_header_visibility {
    @media (max-width: 1130px) {
        position: absolute;
        right: 0;
        top: 50px;
        z-index: 1;
        opacity: 0.2;
    }

    @media (max-width: 456px) {
        top: 100px;
    }
}

.animation {
    height: 140px;
    overflow: hidden;
}

.animation>div>div {
    height: 100%;
    margin-bottom: 4rem;
    display: inline-block;
}

.animation div:first-child {
    animation: text-animation 8s infinite;
}

.first div {
    font-size: 5em;
    font-weight: 700;
    background: linear-gradient(90deg, $pink-pallete 0%, $purple-pallete 50%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

    @media (max-width: 1628px) {
        font-size: 4em;
    }

    @media (max-width: 1130px) {
        font-size: 5em;
    }

    @media (max-width: 724px) {
        font-size: 4em;
    }

    @media (max-width: 536px) {
        font-size: 50px;
    }
}

.second div {
    font-size: 5em;
    font-weight: 700;
    background: linear-gradient(90deg, $purple-pallete 0%, $purple-pallete 40%, $cian-pallete 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

    @media (max-width: 1628px) {
        font-size: 4em;
    }

    @media (max-width: 1130px) {
        font-size: 5em;
    }

    @media (max-width: 724px) {
        font-size: 4em;
    }

    @media (max-width: 536px) {
        font-size: 50px;
    }
}

.skills_card {
    border: $pink-pallete solid 2px;
    border-radius: 15px;
    height: 400px;
    width: 230px;
}

.bg_palette1 {
    background: linear-gradient(90deg, $background-dark-pallete 0%, $background-dark-pallete 70%, #171519 100%);
}

.bg_palette2 {
    background: linear-gradient(90deg, #2a292c 0%, #2a292c 70%, #171519 100%);
}

.bouncing_img {
    animation: boucing-img 6s infinite;

    @media (max-width: 1130px) {
        animation: none;
    }
}

.box_about {
    padding: 3em;
    border: #2a292c solid 1px;
    box-shadow: inset 0 0 15px 3px #2a292c;
    border-radius: 15px;

    @media (max-width: 468px) {
        padding: 2em 1em;
    }
}

.social_media {
    padding: 13px;
    border: #2a292c solid 1px;
    box-shadow: inset 0 0 5px 1px #2a292c;
    border-radius: 7px;
    margin-right: 40px;
    transition: all 1s ease 0s, opacity 2s cubic-bezier(0.5, 0, 0, 1) 0s, transform 2s cubic-bezier(0.5, 0, 0, 1) 0s;

    a {
        transition: all 1s ease 0s, opacity 2s cubic-bezier(0.5, 0, 0, 1) 0s, transform 2s cubic-bezier(0.5, 0, 0, 1) 0s;
    }
}

.social_media:hover {
    border: $purple-pallete solid 1px;
    box-shadow: inset 0 0 5px 1px $purple-pallete;

    a {
        color: $purple-pallete;
    }
}

.project_img {
    border-radius: 7px;
    filter: brightness(0.8);
    box-shadow: 0 0 50px 10px #2a292c;
    transition: all 0.5s ease 0s, opacity 2s cubic-bezier(0.5, 0, 0, 1) 0s, transform 0.6s cubic-bezier(0.5, 0, 0, 1) 0s;
    min-height: 480px;

    @media (max-width: 991px) {
        filter: brightness(0.2);
    }

    @media (max-width: 499px) {
        min-height: 650px;
    }
}

.project_img:hover {
    filter: none;
    transform: scale(1.015);
}

.box_project_description {
    padding: 3em;
    border: #2a292c solid 1px;
    box-shadow: 0 0 15px 3px #2a292c;
    background: $background-dark-pallete;
    border-radius: 15px;
    margin-left: -120px;

    @media (max-width: 991px) {
        margin-left: 0;
    }
}

.box_project_description2 {
    @extend .box_project_description;
    margin-left: 0;
    margin-right: -120px;

    @media (max-width: 991px) {
        margin-right: 0;
    }
}

.link_project {
    color: white;
    transition: all 0.4s ease 0s, opacity 1s cubic-bezier(0.5, 0, 0, 1) 0s, transform 1s cubic-bezier(0.5, 0, 0, 1) 0s;
}

.link_project:hover {
    color: $pink-pallete;
}

.cursor_pointer {
    cursor: pointer;
}

.project_description_mobile {
    z-index: 2;

    @media (max-width: 991px) {
        position: absolute;
        top: 10%;
        left: 0;
    }
}

/* .parallax {
    width: 100vw;
    height: 100vh;
    background: #2a292c;
    position: absolute;
    padding-top: 200px;
    top: 0;
    z-index: 100;
    animation: parallaxEffect 2s forwards;
}

.parallax_color {
    width: 100vw;
    height: 100vh;
    background: linear-gradient(90deg, rgba(235, 23, 107, 1) 0%, rgba(114, 38, 209, 1) 50%, rgba(49, 255, 226, 1) 100%);
    position: absolute;
    top: 0;
    z-index: 90;
    animation: parallaxEffect 2.2s forwards;
} */

@keyframes removeFilter {
    0% {
        transform: translateY(0);
    }

    100% {
        transform: translateY(-100%);
    }
}

/* @keyframes parallaxEffect {
    0% {
        transform: translateY(0);
    }

    100% {
        transform: translateY(-100vh);
    }
} */

@keyframes boucing-img {
    0% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-20px);
    }

    100% {
        transform: translateY(0);
    }
}

@keyframes text-animation {
    0% {
        margin-top: 0;
    }

    10% {
        margin-top: 0;
    }

    20% {
        margin-top: 0;
    }

    30% {
        margin-top: 0;
    }

    40% {
        margin-top: var(--margin-text-animation);
    }

    60% {
        margin-top: var(--margin-text-animation);
    }

    70% {
        margin-top: var(--margin-text-animation);
    }

    80% {
        margin-top: var(--margin-text-animation);
    }

    90% {
        margin-top: 0;
    }

    100% {
        margin-top: 0;
    }


}