@import './fonts.scss';

$pink-pallete: #eb176b;
$purple-pallete: #7226d1;
$cian-pallete: #31ffe2;
$background-dark-pallete: #222123;

* {
    font-family: "Plus Jakarta Sans", sans-serif;
}

html,
body {
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;
    scroll-behavior: smooth;
}

.anchor {
    scroll-margin-top: 50px;
}

.overflow_hidden {
    overflow: hidden;
}

.grid_layout {
    max-width: 1400px;
    margin: 0 auto;
}

body::-webkit-scrollbar {
    width: 1em;
    background-color: $background-dark-pallete;
}

body::-webkit-scrollbar-track {
    background-color: $background-dark-pallete;
}

body::-webkit-scrollbar-thumb {
    background-color: #eb176b;
    border-radius: 3px;
}

.background_dark {
    background-color: $background-dark-pallete;
}

main {
    padding-top: 150px;

    .box_name {
        margin-top: -150px;
    }
}

.hello_text {
    font-size: 4em;
    font-weight: 600;
}

.my_name {
    font-size: 6em;
    font-weight: 700;
    background: linear-gradient(90deg, $pink-pallete 0%, $purple-pallete 50%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.animation {
    height: 140px;
    overflow: hidden;
}

.animation>div>div {
    height: 100%;
    margin-bottom: 4rem;
    display: inline-block;
}

.animation div:first-child {
    animation: text-animation 8s infinite;
}

.second div {
    font-size: 6em;
    font-weight: 700;
    background: linear-gradient(90deg, $purple-pallete 0%, $purple-pallete 40%, $cian-pallete 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.skills_card {
    border: $pink-pallete solid 2px;
    border-radius: 15px;
    height: 400px;
    width: 230px;
}

.bg_palette1 {
    background: linear-gradient(90deg, $background-dark-pallete 0%, $background-dark-pallete 70%, #171519 100%);
}

.bg_palette2 {
    background: linear-gradient(90deg, #2a292c 0%, #2a292c 70%, #171519 100%);
}

.bouncing_img {
    animation: boucing-img 6s infinite;
}

.box_about {
    padding: 3em; 
    border: #2a292c solid 1px;
    box-shadow: inset 0 0 15px 3px #2a292c;
    border-radius: 15px;
}

.social_media {
    padding: 13px;
    border: #2a292c solid 1px;
    box-shadow: inset 0 0 5px 1px #2a292c;
    border-radius: 7px;
    margin-right: 40px;
    transition: all 1s ease 0s, opacity 2s cubic-bezier(0.5, 0, 0, 1) 0s, transform 2s cubic-bezier(0.5, 0, 0, 1) 0s;

    a {
        transition: all 1s ease 0s, opacity 2s cubic-bezier(0.5, 0, 0, 1) 0s, transform 2s cubic-bezier(0.5, 0, 0, 1) 0s;
    }
}

.social_media:hover {
    border: $purple-pallete solid 1px;
    box-shadow: inset 0 0 5px 1px $purple-pallete;

    a {
        color: $purple-pallete;
    }
}

.cursor_pointer {
    cursor: pointer;
}

@keyframes boucing-img {
    0%   { transform: translateY(0); }
    50%  { transform: translateY(-20px); }
    100% { transform: translateY(0); }
}

@keyframes text-animation {
    0% {
        margin-top: 0;
    }

    10% {
        margin-top: 0;
    }

    20% {
        margin-top: 0;
    }

    30% {
        margin-top: 0;
    }

    40% {
        margin-top: -7.62rem;
    }

    60% {
        margin-top: -7.62rem;
    }

    70% {
        margin-top: -7.62rem;
    }

    80% {
        margin-top: -7.62rem;
    }

    90% {
        margin-top: 0;
    }

    100% {
        margin-top: 0;
    }
}